table {
    border-collapse: collapse;
    margin: 40px auto;
    width: 90%;
  }
   th {
    background: #ccc;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background: #efefef;
  }
  
  tr:hover {
    background: #d1d1d1;
  }

  .btn {
	padding: 20px;
    font-size: 18px;
}